<top-bar></top-bar>

<div class=" w-full h-[460px] flex">
<div style="width: 400px;" class="w-1/3 bg-re d-300">
<img [src]="book.image" class="w-full" alt="">
</div>

<div style="width: 800px;" >
   <div class="mt-24 font-semibold text-3xl text-teal-900">
    {{book.title}}
   </div>
   <div class="w-full overflow-hidden h-300px break-words mt-4 text-stone-500">
    {{book.desc}}
   </div>

   <div class="flex ">
<div class="overflow-hidden w-[200px]" >

  <div class="text-amber-500 font-medium text-xl ">
  {{formatPrice(book.price)| currency : "INR"}}
  </div>
  <div class="text-stone-500"><span class="text-teal-900">Language:</span>{{book.language}}</div>
  <div class="text-stone-500" >
    <span class="text-teal-900">Published:</span>{{ book.publishDate | date: 'yyyy-MM-dd ' }}
  </div>
  <div class="text-stone-500" >
   <span class="text-teal-900">Authors:</span>
   {{book.authors}}
  </div>
</div>
     <div class="ml-[30px] mt-[30px]">
       
          <button *ngIf="!isAddedToCart(book);" class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded-lg shadow" (click)="addToCart(book)" >
           Add to Cart
         </button>
         <button routerLink="/cart" *ngIf="isAddedToCart(book)" #viewCart class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded-lg shadow" >
          View Cart
         </button>

     </div>

   </div>
</div>  
</div>