<body class="bg-gray-100">
    <nav class="bg-blue-500 p-4 flex justify-between items-center">
      <!-- Home Button -->
      <div  routerLink="/home" class="text-white font-bold text-3xl cursor-pointer">BookCart</div>
  
      
   

      <!-- Cart Button -->
      <div   routerLink="/cart" class="cart bg-white text-blue-500 hover:bg-blue-100 px-4 py-2 rounded-lg shadow">
       
        <div *ngIf="cartService.cartCount"  class="cartCount">{{cartService.cartCount}}</div>
        Cart
      </div>

    </nav>
    <div class="bg-blue-100 flex justify-end">
  <!-- Log Out Button -->
      <button class=" text-blue-500 mr-2" (click)="logOut()">
        Log Out
      </button>
    </div>
  

  </body>